<mat-toolbar color="primary" class="mat-elevation-z8">
  <span><mat-icon>money</mat-icon><strong> Price Search</strong></span>

  <div class="spacer"></div>
  <a mat-button>Home</a>
  <a mat-button>Favorite</a>
  <a mat-button>Item List</a>
  <a mat-raised-button (click)="signIn('Google')">Sign in with Google</a>
  <a mat-raised-button (click)="signOut()">Sign Out</a>
</mat-toolbar>

<br /><br />

<br /><br />

<div *ngIf="user">
  <img src="{{ user.photoUrl }}" />

  <h4>{{ user.name }}</h4>

  <p>{{ user.mail }}</p>
</div>
